<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.codegen.ecore.generatorAdapters">
      <!-- Adapter Factory -->
      <adapterFactory class="org.eclipse.emf.jhipster.generator.JhipsterGeneratorAdapterFactory"/>
      <!-- Single Adapter -->
      <!--
      <adapter modelClass="GenModel" class="org.eclipse.emf.jhipster.generator.validator.GenModelJhipsterGeneratorAdapter"/>
      <adapter modelClass="GenClass" class="org.eclipse.emf.jhipster.generator.validator.GenClassJhipsterGeneratorAdapter"/>
      -->
   </extension>

</plugin>
